
#contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }


body {
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	background:rgb(233, 110, 10);
}

footer {
    text-align: center;
    font-size: x-small;
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;    
}

details{
    color:black ;
}


#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#17C;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#05A;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
